.item {
  background-color: #fff;
  &__title {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
    align-items: center;
    font-size: 14px;
    &-lfCt {
      flex: 1;
    }
    &-lf {
      padding-left: 16px;
      width: auto;
      color: #333;
      span {
        display: inline-block;
        max-width: 70px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      span:nth-child(2) {
        display: flex;
        align-items: center;
        margin: 0 6px;
        i:first-child {
          display: inline-block;
          width: 30px;
          height: 2px;
          background-color: #333;
          margin-top: 1.5px;
        }
        i:last-child {
          display: inline-block;
          width: 0;
          height: 0;
          border-bottom: 5px solid #333;
          border-right: 5px solid transparent;
          margin-bottom: 1.5px;
        }
      }
    }
    &-rt {
      font-size: 12px;
      color: #999;
      display: flex;
      align-items: center;
      i {
        margin-left: 2.5px;
      }
    }
  }
  &__content {
    padding: 5px 20px;
    position: relative;
    background-color: #fafafa;
    &-i {
      font-size: 12px;
      padding: 5px 0;
      color: #666;
      span:first-child {
        display: inline-block;
        width: 60px;
        text-align: justify;
        text-align-last: justify;
      }
    }
  }
}
