$themeColor: #2E7FE6;
$themeColor4: #4997F9;
$redColor: #FF4E53;
$orangeColor: #F76A00;
$bgColor: #F7F7F7;
$greenColor: #07C160;
$color2: #2F3338;
$color4: #464C54;
$color6: #69727D;
$color9:#9199A3;
$themeColor1: #5ED19E;
$themeColor2: #07B7AE;


@themeColor5: #D8F2F1;
$halfColor: #46C7FE;
$fullColor: #E88B8C;
$nullColor: #00D19D;