// base color
$blue:#324157;
$bgColor:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$width: 110px;


.marginT10{
  margin-top: 10px;
}
.text-right{
  text-align: right;
}